<ion-header>
  <ion-toolbar id="color-global">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asignación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card id="card-grand">
 <ion-card-content>
   <ion-grid fixed>
     <ion-row>
       <ion-col size="2">
         <ion-avatar>
           <img src="assets/img/logo.png" />
         </ion-avatar>
       </ion-col>
       <ion-col size="10" class="ion-text-center">
         <p> <b>Cliente: </b> {{item.cliente_nombre}}</p>
         <p><b> Detalle: </b> <label for="">{{item.detalle}}</label></p>
         <p><b> Total de carrera: </b>{{item.costo_envio_final}} Bs.</p>
         <p><b>Asignado a : </b>{{item.nombre_rep}}</p>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size="6">
        <ion-button class="ion-text-capitalize" id="color-global" shape="round" (click)="callMe()">
          <ion-icon slot="start" name="call"></ion-icon>
          Llamar
        </ion-button>
       </ion-col>
       <ion-col size="6">
       <ion-button class="ion-text-capitalize" id="color-global" shape="round" (click)="goWhatshapp()">
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
         Mensaje
       </ion-button>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-card-content>
</ion-card>
<ion-card id="card-grand">
  
  <ion-card-header>
    <!-- <ion-card-subtitle></ion-card-subtitle> -->
    <ion-card-title>Detalle de Ubicación de Recojo</ion-card-title>
 
  </ion-card-header>
  <ion-card-content>
   <p>{{item.origen}}</p>
   <div class="ion-text-center">
     <ion-button (click)="goDestinoRecojo()" class="ion-text-capitalize" id="color-global"  shape="round">
       Rastrear
     </ion-button>
   </div>
 
 </ion-card-content>
</ion-card>
<ion-card id="card-grand">
  
  <ion-card-header>
    <!-- <ion-card-subtitle></ion-card-subtitle> -->
    <ion-card-title>Detalle de Ubicación de Destino</ion-card-title>
 
  </ion-card-header>
  <ion-card-content>
   <p>{{item.destino}}</p>
   <div class="ion-text-center">
     <ion-button (click)="goDestinoDestino()" class="ion-text-capitalize" id="color-global"  shape="round">
       Rastrear
     </ion-button>
   </div>
 
 </ion-card-content>
</ion-card>
<ion-card id="card-grand">
  <ion-card-content class="ion-text-center">
    <ion-button (click)="goHome()" class="ion-text-capitalize" id="color-global"  shape="round">
      Finalizar carrera
    </ion-button>
    
  </ion-card-content>
</ion-card>
</ion-content>
