<ion-header>
 
  <ion-toolbar id="color-global">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of successNotificationsDriver">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <img id="img-floo" src="assets/img/logo.png" alt="">
  
          </ion-col>
          <ion-col size="10">
            <!-- <ion-label> -->
              <p class="ion-text-justify">{{item.mensaje}}</p>
  
              <!-- <p>12-Febrero-2022</p> -->
              <!-- <h3>Look, kid...</h3> -->
              
            <!-- </ion-label> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
