#card-grand{
    box-shadow: 14px 15px 30px rgb(0 0 0 / 13%);
    color: #8A8A8A;
    border-radius: 5px;
}
#card-grand-options{
    box-shadow: 0px 15px 30px rgb(0 0 0 / 13%);
    color: #8A8A8A;
    border-radius: 25px;  
}
.color-title-all{
    color: #8A8A8A;
    font-size: 1em;
}
#ion-icon{
    font-size: 3em;
}
.img-icon{
    font-size: 2em;
    position: absolute;
    right: 25px;
    bottom: 5px;
}
#img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // object-fit: cover;
    object-position: center right;
}