<ion-header>
 
  <ion-toolbar id="color-global">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-buttons  id="icon-n" slot="end" (click)="close()">
      <ion-icon  name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" id="form-login">
  <ion-card  [disabled]="controlEnabled == false" id="card-grand">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4.5" class="ion-text-center">
          <br>
        <img id="img" src="{{foto}}" /><span class="img-icon" (click)="updatePhoto()"> <ion-icon name="camera"></ion-icon> </span>
        </ion-col>
        <ion-col size="7.5">
          <h4>{{nombre_completo}}</h4>
          <p>{{email}}</p>
          <br>         
        </ion-col>
      </ion-row>
      <ion-row  [disabled]="controlEnabled == false">
        <ion-col size="12" class="ion-text-right">
          <ion-item lines="none" [disabled]="controlEnabled == false">
            <ion-label>{{estado === true ? "Disponible" : "No Disponible"}}
            <p>{{estado === false ? "No recibira notificaciones" : "Activo para solicitudes"}}</p>
              
            </ion-label>

            <ion-toggle  formControlName="estado" color="success" mode="ios" (ionChange)="clickCierre($event)"> </ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- </form> -->
  <ion-grid fixed >
    <ion-row>
      <ion-col size="6" >
        <ion-card  [disabled]="controlEnabled == false" id="card-grand-options" (click)="goDestination('profile')">
          <ion-card-content class="ion-text-center">
            <ion-icon id="ion-icon" slot="start" name="person"></ion-icon>
            <p class="color-title-all">Editar Perfil</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card  [disabled]="controlEnabled == false" id="card-grand-options" (click)="goDestination('cars')">
          <ion-card-content class="ion-text-center">
            <ion-icon  id="ion-icon" slot="start" name="car-sport"></ion-icon>
            <p class="color-title-all">Automoviles</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col size="6">
        <ion-card id="card-grand-options" (click)="goDestination('edit')">
          <ion-card-content class="ion-text-center">
            <img src="assets/icons/restaurant.svg" alt="">
            <p class="color-title-all">PERFIL</p>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
      <ion-col size="6">
        <ion-card  [disabled]="controlEnabled == false" id="card-grand-options" (click)="goDestination('request')">
          <ion-card-content class="ion-text-center">
            <ion-icon id="ion-icon" name="document-attach-outline"></ion-icon>
            <p class="color-title-all">Solicitudes</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card  [disabled]="controlEnabled == false" id="card-grand-options"  (click)="goDestination('information')">
          <ion-card-content class="ion-text-center">

            <!-- <img src="assets/iconD/3.svg" alt=""> -->
            <ion-icon id="ion-icon" slot="start" name="information"></ion-icon>
            <p class="color-title-all">Informacion</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
   
    <ion-card id="card-grand">
      <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>Si te encuentras en una de tus paradas puedes deshabilitar el tracking se tomara en cuenta la posición de tu parada actual</ion-card-subtitle>
        </ion-card-header>
        <ion-item lines="none"  [disabled]="controlEnabled == false">
          <ion-label>{{estadoTracking === true ? "Habilitado Tracking" : "Deshabilitado Tracking"}}</ion-label>
          <ion-toggle formControlName="estadoTracking" color="success" mode="ios" (ionChange)="tracking($event)"> </ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </ion-grid>
</form>
</ion-content>
