<ion-header>

  <ion-toolbar id="color-global">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
    <ion-buttons id="icon-n" slot="end" (click)="notifications()">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="card-grand">
    <div class="ion-text-center">
      <img id="img" src="assets/img/logo.png" alt="">
    </div>
    <ion-card-content>
      <p class="ion-text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ullam recusandae
        repellat culpa maiores quia modi tempora illum, nesciunt tenetur mollitia corrupti ipsa nihil aliquid voluptates
        sequi. Cum, eum voluptate.</p>
    </ion-card-content>
    <ion-grid fixed>
      <ion-row class="ion-text-center">
      
        <ion-col size="4" (click)="socialMedia('FACEBOOK')">
          <ion-icon id="ion-icon" name="logo-facebook"></ion-icon>
        </ion-col>
        <ion-col size="4" (click)="goWhatshapp()">
          <ion-icon id="ion-icon" name="logo-whatsapp"></ion-icon>
        </ion-col>
        <ion-col size="4" (click)="socialMedia('INSTAGRAM')">
          <ion-icon id="ion-icon" name="logo-instagram"></ion-icon>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-text-center" (click)="goWhatshapp()">
        <ion-col size="12">
          <ion-icon id="ion-icon" name="logo-whatsapp"></ion-icon>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-card>
</ion-content>