<ion-header>
 
  <ion-toolbar id="color-global">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Solicitudes</ion-title>
    <ion-buttons id="icon-n" slot="end" (click)="notifications()">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
  <div class="segment">

    <ion-segment [disabled]="controlEnabled == false" [(ngModel)]="selectOrder" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="pendiente">
        <ion-label>Pendiente</ion-label>
      </ion-segment-button>
      <ion-segment-button value="en_espera">
        <ion-label>En Espera</ion-label>
      </ion-segment-button>
      <ion-segment-button value="historicos">
        <ion-label>Historicos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="selectOrder === 'pendiente'">
    <div *ngIf="successRequestDriverActive >= 0" class="ion-text-center">
      <h5>No hay asignaciones Pendientes</h5>
    </div>
    <ion-card [disabled]="controlEnabled == false" id="card-grand" *ngFor="let item of successRequestDriverActive" (click)="goRequest(item)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3">
            <img src="assets/img/logo.png" alt="">
          </ion-col>
          <ion-col size="9" class="col-space">
            <p class="color-title" > <b>Origen: </b> {{item.origen}}</p>
            <p class="color-title" > <b>Destino: </b> {{item.destino}}</p>
            <!-- <label class="color-secundary-title"><b>Costo:</b> </label>&nbsp;{{item.subtotal}} Bs. -->

            <label class="color-secundary-title"><b>Repartidor:</b></label>&nbsp;{{item.nombre_rep}}
         
            <!-- <label class="color-secundary-title"><b> Hora del pedido:</b></label>&nbsp;{{item.hora}} -->
            <br>
            <ion-chip  id="color-global" mode="ios" >
              <ion-label>{{item.estado}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </ion-card>
  </div>
<div *ngIf="selectOrder === 'en_espera'">
  <div   *ngIf="successRequestDriverWait >= 0" class="ion-text-center">
    <h5>No hay asignaciones En espera</h5>
  </div>
  <ion-card id="card-grand" *ngFor="let item of successRequestDriverWait">
    <ion-grid fixed >
      <ion-row>
        <ion-col size="3">
          <img src="assets/img/logo.png" alt="">
        </ion-col>
        <ion-col size="9" class="col-space">
          <p class="color-title" > <b>Origen: </b> {{item.origen}}</p>
          <p class="color-title" > <b>Destino: </b> {{item.destino}}</p>

          <!-- <label class="color-secundary-title"><b>Costo:</b> </label>&nbsp;{{item.subtotal}} Bs. -->
       
          <label class="color-secundary-title"><b>Repartidor:</b></label>&nbsp;{{item.nombre_rep}}
          <br>
          <!-- <label class="color-secundary-title"><b> Hora del pedido:</b></label>&nbsp;{{item.hora}} -->  
         
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-chip  id="color-global" mode="ios" >
            <ion-label>{{item.estado}}</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="4" class="ion-text-center" (click)="acceptRequest(item)">
          <ion-chip  id="color-global" mode="ios" >
            <ion-label>Aceptar Solicitud</ion-label>
          </ion-chip>
        </ion-col>

        <ion-col size="4" class="ion-text-center" (click)="goRequest(item)">
          <ion-chip  id="color-global" mode="ios" >
            <ion-label>Ver Detalle</ion-label>
          </ion-chip>
        </ion-col>
        
      </ion-row>
    </ion-grid>

</ion-card>
</div>
  <div *ngIf="selectOrder === 'historicos'">
    <div *ngIf="successRequestDriverHistoric >= 0" class="ion-text-center">
      <h5>No hay asignaciones Historicas</h5>
    </div>
    <ion-card id="card-grand" *ngFor="let item of successRequestDriverHistoric" (click)="goRequest(item)">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="3">
                <img src="assets/img/logo.png" alt="">
              </ion-col>
              <ion-col size="9" class="col-space">
                <p class="color-title" > <b>Origen: </b> {{item.origen}}</p>
                <p class="color-title" > <b>Destino: </b> {{item.destino}}</p>
          
                <!-- <label class="color-secundary-title"><b>Costo:</b> </label>&nbsp;{{item.subtotal}} Bs. -->
    
                <label class="color-secundary-title"><b>Repartidor:</b></label>&nbsp;{{item.nombre_rep}}
                <br>
                <!-- <label class="color-secundary-title"><b> Hora del pedido:</b></label>&nbsp;{{item.hora}} -->
           
                <ion-chip  id="color-global" mode="ios" >
                  <ion-label>{{item.estado}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>

    </ion-card>
  </div>
</ion-content>
