ion-segment{
    background: #A8A9AB;
    border-radius: 20px;
  
}
.segment{
    background: white;
    padding: 10px;
    
}
#card-grand{
    box-shadow: 14px 15px 30px rgb(0 0 0 / 13%);
    color: #8A8A8A;
    border-radius: 5px;
}
ion-segment-button{
    color: white; 
    --color-checked: var(--ion-color-danger);
   --background-activated: black!important; 
  --background-checked:#27ae60; 
  --indicator-color: transparent!important; 
  --border-radius: 30px;
}
.col-space{ 
    position: relative;
    bottom: 15px;
}