<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons id="button-back" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" id="form-login">
  <ion-card id="card-grand">
    <br>
    <div class="ion-text-center">
      <img [src]="fotoDefault ? fotoDefault : img " alt=""> <span class="img-icon" (click)="updatePhoto()"> <ion-icon name="camera"></ion-icon> </span>
      <br>
      <br>
      <h5 class="color-title" for="">Datos de Driver</h5>
    </div>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="floating">Nombre Completo *</ion-label>
          <br>
          <ion-input type="text" formControlName="nombre" placeholder="Nombre" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('nombre', 'required')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('nombre', 'required')" slot="end"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Edad *</ion-label>
          <br>
          <ion-input type="text" formControlName="edad" placeholder="Edad" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('edad', 'required')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('edad', 'required')" slot="end"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Domicilio *</ion-label>
          <br>
          <ion-input type="text" formControlName="domicilio" placeholder="Domicilio" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('domicilio', 'required')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('domicilio', 'required')" slot="end"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Celular *</ion-label>
          <br>
          <ion-input type="tel" formControlName="numero_cel"  placeholder="Celular" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('numero_cel', 'required')" slot="end"></ion-icon>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('numero_cel', 'min')" slot="end"></ion-icon>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('numero_cel', 'max')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('numero_cel', 'required') && !checkError('numero_cel', 'min') && !checkError('numero_cel', 'max')"
            slot="end"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Email *</ion-label>
          <br>
          <ion-input type="text"formControlName="email"  placeholder="E-mail" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('email', 'required')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
          *ngIf="!checkError('email', 'required') && !checkError('email', 'email')" slot="end"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Carnet de Identidad *</ion-label>
          <br>
          <ion-input type="text" formControlName="ci"  placeholder="Carnet de identidad" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('ci', 'required')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('ci', 'required')" slot="end"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Número de Licencia *</ion-label>
          <br>
          <ion-input type="text"formControlName="licencia"  placeholder="Número de licencia" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('licencia', 'required')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('licencia', 'required')" slot="end"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Nombre de Móvil *</ion-label>
          <br>
          <ion-input type="text" formControlName="nombre_movil"  placeholder="Número de Móvil" ></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('nombre_movil', 'required')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('nombre_movil', 'required')" slot="end"></ion-icon>
        </ion-item>
        <br>
      
       
        </ion-list>
  </ion-card>
  </form>
</ion-content>
<ion-footer id="foot">
  <div class="ion-text-center">
    <ion-button class="ion-text-capitalize" [disabled]="!form.valid"  (click)="goRegister()" expand="block" id="color-global" shape="round">
      Registrar
    </ion-button>
  </div>
</ion-footer>