
.root {
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-position: center right;
}
// Header Text
.title {
    color:#34B04A;

    // Font
    font-size: 30px;
    font-weight: 350;
}
#card-grand{
    box-shadow: 14px 15px 30px rgb(0 0 0 / 13%);
    color: #8A8A8A;
    border-radius: 5px;
}
.description {
    color: #7C7D7E;
    margin: 0rem 2.5rem 1.5rem;

    // Font
    font-size: 15px;
    font-weight: 350;
}

// Footer Text
.footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
}

.login {
    color:#34B04A;

    // Font
    font-size: 16px;
    font-weight: 450;
    display: inline-block;
    margin-left: 0.25rem !important;
}

.message {
    color: #7C7D7E;
    font-size: 15px;
    font-weight: 350;
    display: inline-block;
}


// Form Inputs
.input-form{
    background: #F2F2F2 ;
    color:#8B8B8B;
    min-height: 56px;
    border-radius:2em;

    // Font
    font-size: 14px;
    font-weight: 350;
}

.input-container{
    max-width: 25rem;
    margin: 0.5rem 1rem
}

.inputs-container{
    text-align:-webkit-center
}

// :host {
//     ion-item {
//         --inner-padding-end: 0px;
//         --padding-start: 0px;
//         // Underline colors
//         --border-color: white; 
//         --highlight-color-invalid: red; // invalid
//         --highlight-color-valid: green; // valid
//     }

//     ion-input{
//         --padding-start: 1.5rem;
//     }
// }

// Button
.button-container {
    width:100%; 
    padding: 0.5rem 1rem
}

// .button {
//     border-radius:2em;
//     box-sizing: border-box;
//     text-decoration:none;
//     color:#FFFFFF;
//     width: 100%;
//     height: 51px;
//     max-width: 25rem;
    
//     // Font
//     font-weight:300;
//     font-size: 1rem;

//     // Shadow
//     box-shadow: #39A75D 0px 5px 10px 0px;
// }
.img-icon{
    font-size: 2em;
    position: absolute;
    right: 120px;
    /* bottom: -18px; */
    top: 165px;
}
#button-back{
    color: black;
}
.error-message {
    color: red;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
}
ion-list{
    margin: 20px;
}
ion-item{
    --background: #F2F2F2;
    border-radius: 20px;
}
#foot{
    background: white;
}