ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
#reload{
  font-size: 2.5em;
  
  color: #27ae60;

}
ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  // --padding-top: 20px;
  --padding-bottom: 20px;
  background: transparent;
}
.img-logo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
ion-menu ion-list {
  padding: 20px 0;
  background: transparent;
  border-color: transparent;
}
ion-list{
  border-color: transparent;
}
#title-footer{
  color: white;
  font-size: 0.7em;
}
#color-footer{
  --background: #303030;
}



ion-menu ion-list#inbox-list {
  // border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}
.label-color{
  color: white;
}
ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  --background: transparent;
}

ion-menu ion-item.selected {
  --background: #27ae60;
  color: aliceblue;
}
// ion-menu ion-item.selected {
//   // --background: #ff070826;
//   --background: transparent;
// }
ion-menu ion-item.selected ion-icon {
  color: white;
}

ion-menu ion-item ion-icon {
  // color: #484e4e;
  color:#27ae60;
}
.ion-icon-social{
  font-size: 2em;
}
ion-menu ion-item ion-label {
  font-weight: 500;
}


#img{
  width: 200px;

}