<ion-header>

  <ion-toolbar id="color-global">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Automoviles</ion-title>
    <ion-buttons id="icon-n" slot="end" (click)="notifications()">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="card-grand" *ngFor="let item of successCarDriver" >
    <ion-item (click)="openModalCarAddEdit(item,'edit')">
      <ion-avatar slot="start">
        <img src="{{item.foto_vehiculo}}" />
      </ion-avatar>
      <ion-label>
        <p>{{item.placa}}

        </p>
        <p>Seleccionado: <span>{{item.seleccionado}}</span></p>
        
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <div class="ion-text-center">
      <ion-button class="ion-text-capitalize" id="color-global" (click)="selectMovil(item)" shape="round">
        Seleccionar Automovil
      </ion-button>
    </div>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button  [disabled]="controlEnabled == false" id="color-global" (click)="openModalCarAddEdit('','add')" shape="round">
      Crear Automovil
    </ion-button>
  </ion-toolbar>
</ion-footer>