<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon (click)="close()" slot="end" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 class="ion-text-center">Nuevo Auto</h5>
  <div>
    <ion-list lines="none">
      <ion-item>
        <ion-input type="
     text" placeholder="Numero de Placa" [(ngModel)]="num_placa"></ion-input>
      </ion-item>
      <br>

      <div class="ion-text-center">
        <label for="">Automovil Foto</label>
        <br>
        <img id="img-add" [src]="preFotoAuto ? preFotoAuto : imgAuto" alt="">
        <br>
        <br>
        <ion-button id="color-global" (click)="getimageAuto()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <br>
        <br>
      </div>
      <br>

        <div class="ion-text-center">
          <label for="">Placa Foto</label>
          <br>
          <img id="img-add" [src]="preFotoPlaca ? preFotoPlaca : imgPlaca" alt="">
          <br>
          <br>
          <ion-button id="color-global" (click)="getimagePlacaAuto()">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
          <br>
          <br>
        </div>
        <br>
        <div *ngIf="buttonEnable" class="button-class">
          <ion-button [disabled]="!num_placa" class="ion-text-capitalize" id="color-global"  expand="block"
            (click)="addCar()" shape="round">
            Guardar
          </ion-button>
        </div>

        <div *ngIf="!buttonEnable" class="button-class">
          <ion-button [disabled]="!num_placa" class="ion-text-capitalize" id="color-global" 
            expand="block" (click)="editCar()" shape="round">
            Editar
          </ion-button>
        </div>
    </ion-list>
  </div>
</ion-content>