// ion-content {
//     --offset-top: 0 !important;
// }
ion-icon{
    font-size: 2em;
}
ion-input{
    border-width: 1px;
    border-style: solid;
    border-color: #EDEDED;
    border-radius: 30px;
    background: #F2F2F2;
    text-align: center;
    position: static;
    color: #B6B7B7;
}
img{
    width: 200px;

}
