<ion-content>
  <div class="ion-text-center">
    <img id="img" src="assets/img/logo.png" alt="">
  </div>
  <br>
  <div id="form" class="ion-text-center">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <ion-button [disabled]="!email || !password" id="color-global" (click)="goPhoneMovile()" shape="round">
      Ingresar
    </ion-button>
    <br>
    <br>
    o
    <br>
    <br>
    <span class="color" (click)="goRegister()">Registrate</span>
  </div>


</ion-content>